/*BODY & And Grid Template Area*/

body { 
margin: 0;
height: 100%;
width: 100%;
font-family: 'Inter', sans-serif;
} 

.maxTextWidth{
  word-wrap: break-word; 
  max-width: 600px;
}

textarea {
  max-width: 500px;
  height: 400px;
  margin: 20px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  background-color:#2e3131;
  color: #e8ecf1;
  font-size: 16px;
  border: 0px;
}
select {
  border: 0 none;
  color: #e8ecf1;
  background: #2e3131;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 10px;
  width: 200px;
  margin-left: 15px;

}


.rules{
  padding: 50px;
}

.postComment {
  padding-top: 15px;
  background-color: #67809f;
  border-radius: 5px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
}

input[type=text] {
  width: 200px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  margin-left: 15px;
  background-color:#2e3131;
  border: 0px;
  color: #e8ecf1;
  font-size: 16px;
}

input[type=checkbox] {
  padding-left:5px;
  padding-right:5px;
  margin-left: 15px;

  -webkit-appearance:button;


  background-color:#00b16a;
  color:#FFF;
  white-space: nowrap;
  overflow:hidden;

  width:35px;
  height:35px;
}

input[type=checkbox]:checked {
  background-color:#f62459;

}


.overSkriftHeader p.postedBy{
  color: #6246ea;
  font-weight: 500;
  font-size: 14px;
}

.editUser p.editUser{
  color: #e8ecf1;
  font-weight: 500;
  font-size: 18px;
  margin-top: -10px;
  margin-left: 15px;
}

.detteTest{
  color: #6246ea;
  font-weight: 800;
}

* {
  box-sizing: border-box;
}

.updateDelete{
  color: #ffffff;
  font-size: 30px;
  margin-left: 15px;
}

#sb{
  padding: 10px;
  background-color: #191A1D;
}

.sbmenu{
  margin-right: 0px;
  width: 45px;
}

#sb p{
  padding-left: 15px;
  color:#9437FF;
  font-weight: 800;
  font-size: 1.0em;
}


#sb ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: none;
}

#sb li a {
  display: block;
  color: #CBCBCB;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
#sb li a:hover {
  background-color: #24252A;
  color: white;
}

.grid2 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  border-top: 1px solid #6246ea;
  border-right: 1px solid #6246ea;
  color: #CBCBCB;
  margin-left: 15px;
  margin-right: 15px;
}

.grid2 > span {
  padding: 20px 20px;
  border-left: 1px solid #6246ea;
  border-bottom: 1px solid #6246ea;

}

/*H1, H2, H3 */

h1{
   color: #fff;
    font-size: 80px;
    margin: 0;
}

h2{
    color: #CBCBCB;
    font-size: 30px;
    margin: 0;
    padding: 15px;
}

h4{
  padding: 15px;
  margin-top: -20px;
  margin-bottom: 0;
  font-weight: 800;
  color: #CBCBCB;
}

h5{
  padding: 15px;
  margin-top: -20px;
  margin-bottom: 0;
  font-weight: 800;
  color: #6246ea;
}

h3{
  color: #CBCBCB;
  font-size: 22px;
  margin: 0;
  padding: 15px;
  color: #6246ea;
}

#wrapper{
  display: grid;
  grid-template-areas: 
    "hd hd hd hd hd hd"
    "sb main main main main main"
    "sb info info info info info"
    "sb packs packs packs packs packs"
    "sb guide guide guide guide guide"
    "sb contact contact contact contact contact"
    "sb cf cf cf cf cf"
    "ft ft ft ft ft ft";
  grid-row-gap: 0px;
  grid-column-gap: 0px;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background-color:#24252A;
  min-height:100vh;
  grid-template-columns: repeat(6, 1fr);     
}


.button {
  background-color: #7700FF;
  border: none;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px 15px;
  cursor: pointer;
  transition: 0.3s;
  
}

.button:hover{
  background-color: #24252A;
  transform: ;
}

#main { 
  display: grid;
  grid-area: main;
  grid-gap: 2em;
  padding: 2em; /* NEW */
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: 
    "box1 box2"
    "box3 box4";
}

#main li{
  padding: 15px;
  margin-top: -20px;
}



.overSkriftHeader p{
  padding: 15px;
  margin-top: -20px;
  margin-bottom: 0;
  color: #CBCBCB;
  line-height: 2em;
}

hr { display: block; height: 1px;
  border: 0; border-top: 1px solid #202125;
  margin: 1em 0; padding: 0;
margin-top: 25px; margin-bottom: 25px; }
.box1{
    
  display: grid;
  grid-area: box1;
  background-color: #191A1D;
  min-height: 50vh;
  display: flex;
  justify-content: start;
  flex-direction: column;
  padding: 15px;
  border-radius: 4px;
}




.box2{
    
  display: grid;
  grid-area: box2;
  background-color: #191A1D;
  min-height: 50vh;
  display: flex;
  justify-content: start;
  flex-direction: column;
  padding: 15px;
  border-radius: 4px;
}


.box3{
    
  display: grid;
  grid-area: box3;
  background-color: #191A1D;
  min-height: 50vh;
  display: flex;
  justify-content: start;
  flex-direction: column;
  padding: 15px;
  border-radius: 4px;
}


.box4{
    
  display: grid;
  grid-area: box4;
  background-color: #191A1D;
  min-height: 50vh;
  display: flex;
  justify-content: start;
  flex-direction: column;
  padding: 15px;
  border-radius: 4px;
}


header{
 grid-area: hd;
 height: 100px;
 display: grid;
 display: flex;
 background: #191A1D;
 color: black;
 border-bottom: 1px solid #202125;
}

nav{
 display: grid;
 display: flex;
 justify-content: flex-end;
 align-items: center;
 width: 100%;
}

#navigation{
    background-color:cornflowerblue;
    display: grid;
    width: 100%;
}

#logo{
 display: grid;
 display: flex;
 justify-content: flex-start;
 align-items: center;
 width: 20%;
 padding: 30px 20px 20px 20px;
 color: #CBCBCB;

}


/*MARKING*/
::selection {
  background: #7700FF;
}



footer { 
  grid-area: ft;
  min-height:10vh;
  display: grid;
  grid-template-columns: repeat(1, 1fr);  
  background-color: #191A1D;
  display: flex;
  text-align: center;
  justify-content: center;
  align-content: center;
  border-top: 1px solid #202125;
}

.footer_information{
  display: flex;
  text-align: center;
  justify-content: center;
  align-content: center;  
}

.white_icons{
    color: #fff;
}

.footer_information_icons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_information{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer h2{
    color: #dbdbdb;
    text-align: center;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.footer_information p{
    color: #fff;
    text-align: center;
    font-size: 20px;
    text-align: center;
    font-family: 'Barlow Condensed', sans-serif;
}

.social_icons{
    display: flex;
    justify-content: center;
    align-items: center;

}


/* MENU*/


nav {
  width: 100%;
}

nav ul li {
  display:inline-block; 
}

nav a {
  color:#fff;
  display:block;
  text-decoration: none;
  padding:20px 30px;
  font-family: 'Inter', sans-serif;
    font-size: 14px;
 }

nav a:hover {
  background-color: #24252A;
    transition: 0.25s;
}

.menu-trigger {
  display:none;
  color:#fff;
}

@media screen and (max-width:685px) {
  .menu-trigger {

       display: inline;
    
  }
  nav ul li {
    display: inline;
    border-top:1px #fff solid;

  
  }
  nav ul {
    display:none;
      position: absolute;
      background-color: #3a3a3a;
      top:119px;
      margin:0; 
      text-align:center;
      width: 100%;
      padding: 0;
  }
}
/* END MENU*/




/* RESPONSIVE MOBILE */

@media (max-width: 760px) {
    

/*H1, H2, H3 */
    
h2{
 font-size: 50px;
}
    
.

/*MAIN */ 
    
#main { 
  display: grid;
    grid-area: main;
  grid-gap: 0;
  grid-template-columns: repeat(1, 1fr);
  grid-template-areas: 
    "box1"
    "box2"
    "box3"
    "box4";

}
    

    


}