.hidden {
  display: none;
}

.hidden {
  display: none;
}

::-webkit-scrollbar-track-piece {
  background: transparent;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  background-color: #2C2F33;
}

.sideBar {
  width: 20%;
}

a {
  text-decoration: none;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 70px;
  background: #23272A;
  border-bottom: 1px solid #202125;
  line-height: 70px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40vw;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

nav a {
  color: #fff;
  display: block;
  text-decoration: none;
  font-size: 14px;
}

nav ul {
  margin: 0;
  height: 70px;
  line-height: 70px;
}

nav ul li {
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}

nav i {
  margin: 5px;
  font-size: 25px;
}

#logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 40%;
  color: #ffffff;
  font-size: 25px;
}

#logo a {
  text-decoration: none;
  color: white;
}

.menu-trigger {
  display: none;
  color: #fff;
}
