@import "../../user/styles/cssConstants/variables.scss";

body{
	font-family: Arial, Helvetica, sans-serif;
	p{color: $White;}
	background-color: $dark;
	width: 99%;
	#main{
		width: 100%;

		#loginContainer{
			margin: 0 auto;
			box-sizing: border-box;
			width: 40%;
			padding: 40px;
			background-color: $background;
			display: flex;
			flex-direction: column;
			align-items: center;
			border-radius: 20px;
			margin-top: 15vh;

			h2{
				color: $White;
				margin: 0;
				font-size: 48px;
			}

			h3{
				color: $White;
				margin: 0;
				font-size: 24px;
			}

			p{
				color: $lgrey;
				margin: 0;
				margin-bottom: 40px;
				margin-top: 10px;
				font-size: 20px;
			}

			#information{
				width: 100%;
				p{
					color: rgb(148, 148, 148);
					font-size: 16px;
				}
			}

			#bottomContainer{
				width: 100%;
				align-content: flex-start;
				margin-top: 10px;
				p{
					color: $lgrey;
					margin: 0;
					margin-bottom: 0px;
					margin-top: 10px;
					font-size: 16px;
				}
				a{
					text-decoration: none;
					color: $color;
					&:focus{
						text-decoration: none;
					}
					&:visited{
						text-decoration: none;
						color: $color;
					}
				}
			}
		}
	}
}