@import "../../user/styles/cssConstants/variables.scss";

body{
	font-family: Arial, Helvetica, sans-serif;
	p{color: $White;}
	background-color: $dark;
	width: 99%;
	#main{
		width: 100%;

		#loginContainer{
			margin: 0 auto;
			box-sizing: border-box;
			width: 30%;
			padding: 40px;
			background-color: $background;
			display: flex;
			flex-direction: column;
			align-items: center;
			border-radius: 20px;
			margin-top: 20px;

			h2{
				color: $White;
				margin: 0;
				font-size: 48px;
			}

			p{
				color: $lgrey;
				margin: 0;
				margin-bottom: 40px;
				margin-top: 10px;
				font-size: 20px;
			}

			#realname{
				display: flex;
				div{
					width: 48%;
				}
				#last{
					margin-left: 4%;
				}
			}

			#bottomContainer{
				width: 100%;
				align-content: flex-start;
				p{
					color: $lgrey;
					margin: 0;
					margin-bottom: 0px;
					margin-top: 10px;
					font-size: 16px;
				}
				a{
					text-decoration: none;
					color: $color;
					&:focus{
						text-decoration: none;
					}
					&:visited{
						text-decoration: none;
						color: $color;
					}
				}
			}

			form{
				width: 100%;

				label{
					color: $lgrey;
					font-size: 14px;
					margin-bottom: 5px;
					margin-left: 10px;
				}

				input[type = text], input[type = password], textarea{
					height: 50px;
					width: 100%;
					margin-bottom: 20px;
					margin-top: 5px;
					padding: 0;
					padding-left: 10px;
	
					border-radius: 10px;
					
					background-color: $dark;
					border: none;
					color: $White;
					font-size: 16px;
	
					&:focus{
						border-style: solid;
						border-color: $color;
						border-width: 2px;
						border-radius: 10px;
						outline: none;
					}
				}

				textarea{
					height: 100px;
					padding: 10px;
					resize: none;
				}

				input[type = submit]{
					height: 50px;
					width: 100%;
					background-color: $color;
					color: $White;
					border: none;
					cursor: pointer;
					font-size: 16px;
	
					transition: all .2s ease-in-out;
					border-radius: 10px;
				}
			}
			
		}
	}
}