$navheight: 70px;

$background: #23272A;
$dark: #2C2F33;
$grey: #99AAB5;
$White: #FFFFFF;
$color: #7700FF;

$lbackground: #FFFFFF;
$ldark: #F2F3F5;
$lgrey: #73767D;
$lWhite: #23272A;
$lcolor: #7700FF;

.hidden {
	display: none;
}



